# specify the base path of keycloak (eg. http://172.16.2.9:8180)
KEYCLOAK_BASE_URL=
# specify client id
KEYCLOAK_CLIENT_ID=
# specify jwt token secret of your client
KEYCLOAK_CLIENT_SECRET=
# specify only the name of realm (not path)
KEYCLOAK_REALM=
# generate base32 random string
AUTH_SECRET=
# specify the url to api backend
NEXT_PUBLIC_API_BASE_URL=
# specify the base url of main website (eg. http://172.16.2.9:3000)
AUTH_URL=
# specify the domain of redirect app (eg. localhost:3031)
REDIRECT_DOMAIN=
