.linkContainer {
  grid-template-areas:
  "A A A A   A A A A   C C C C"
  "B B B B   B B B B   D D D D"
  "B B B B   B B B B   D D D D";
}

.linkHeader {
  grid-area: A;
}

.linkBody {
  grid-area: B;
}

.linkDate {
  grid-area: C;
}

@media(max-width: 768px) {
  .linkContainer {
    grid-template-areas:
      "A A A A   A A A A"
      "B B B B   B B B B"
      "B B B B   B B B B"
      "C C C C   C C C C";
  }
}

.loadingStyles {
  position: absolute;
  top:46%;
  left:46%;
}
